<section id="expirience" class="section scroll-section">
  <div data-wow-duration=".7s" class="wow fade-in-up">
    <div class="container">
      <h2 class="section-title"><i class="fa fa-suitcase"></i>Work Experience</h2>
      <div class="row">
        <div class="col-sm-12">
          <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
              {% for expirience in expiriences %}
              <div class="timeline-box"><span class="dot z-depth-1"></span>
                <div class="card timeline-box-inner"><span class="arrow"></span>
                  <div class="date">{{ expirience.duration }}</div>
                  <h3>{{ expirience.company }}</h3>
                  <h4>{{ expirience.title }}</h4>
                  <p>{{ expirience.desc }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>