<header>
  <nav role="navigation" class="primary-nav">
    <div class="nav-wrap">
      <ul id="slide-out" class="inline-nav side-nav">
        <li class="mobile-profile">
          <div class="profile-inner">
            <div class="img-container"><img src="images/{{ profile.img }}" alt="{{ profile.img_alt }}" class="img-circle"></div>
            <div class="name-title">
              <h3 class="name">{{ profile.first_name }} {{ profile.last_name }}</h3>
              <h4 class="title">Software and Web Developer</h4>
            </div>
          </div>
        </li>
        <li><a href="#about" data-section="#about" class="menu-smooth-scroll">About</a></li>
        <li><a href="#education" data-section="#education" class="menu-smooth-scroll">Education</a></li>
        <li><a href="#expirience" data-section="#expirience" class="menu-smooth-scroll">Experience</a></li>
        <li><a href="#skills" data-section="#skills" class="menu-smooth-scroll">Skills</a></li>
        <li><a href="#contact" data-section="#contact" class="menu-smooth-scroll">Contact</a></li>
      </ul><a href="#" data-activates="slide-out" class="button-collapse"><i aria-hidden="true" class="fa fa-bars"></i></a>
    </div>
  </nav>
</header>